#app {

  // 主体区域 Main container
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: fixed;
    top:50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
  }

  // 侧边栏 Sidebar container
  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient($menuStartBg, $menuEndBg);

    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;

      .el-scrollbar__view {
        padding-top: 15px;
        height: calc(100vh - 50px);;
        border-right: 1px solid #d3dae4;
        overflow-y: auto;
      }
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .icon {
      margin-right: 16px;
      color:$menuText;
    }

    .is-active>.menu-item .icon{
      color:#fff;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      background: transparent;
    }

    .el-menu-first {

    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      .icon {
        color:$menuText;
      }
      /*&:hover {
        background-color: $menuHover;
      }*/
      height: 70px;
      font-size: 16px;
      line-height: 52px;
    }

    .is-active>.el-submenu__title {
      color: $subMenuActiveText;
    }

    .is-opened>.el-submenu__title {
      .icon {
        color: #fff;
      }
      &:hover {
        background-color: transparent;
      }
      height: 70px;
      line-height: 52px;
    }
    .el-submenu__title:hover {
      .icon {
        color: #fff;
      }
      .el-submenu__icon-arrow {
        color: #fff;
      }
      background-color: transparent;
    }
    .el-submenu__icon-arrow {
      top: 33%;
      margin-top: 0;
    }
    .title-class:hover {
      background-color: #306dfd;
      width: 190px;
      margin-left: -10px;
      padding-left: 10px;
      height: 52px;
      color: #fff;
      border-radius:4px;
      box-shadow: 0px 11px 18px 0px rgba(65, 139, 255, 0.35);
      svg {
        color: #ffffff;
      }
      span {
        color: #ffffff;
      }
    }
    .is-opened>.el-submenu__title>.title-class {
      background-color: #306dfd;
      width: 190px;
      margin-left: -10px;
      padding-left: 10px;
      height: 52px;
      color: #fff;
      border-radius:4px;
      box-shadow: 0px 11px 18px 0px rgba(65, 139, 255, 0.35);
    }
    .el-menu .menu-wrapper .el-menu-item.is-active>.title-class{
      background-color: #306dfd;
      width: 190px;
      height: 52px;
      line-height: 52px;
      color: #fff;
      border-radius:4px;
      box-shadow: 0px 11px 18px 0px rgba(65, 139, 255, 0.35);
      svg {
        color: #ffffff;
      }
      span {
        color: #ffffff;
      }
    }
    .is-opened .el-submenu__icon-arrow {
      color: #fff;
    }

    .title1 {
      margin-left: 10px;
      color: #5d77ad;
    }
    .title1:hover {
      padding-left: 0;
      margin-left: 10px;
    }
    .is-active .title1 {
    }

    .span1 {
      padding-left: 10px;
      color: #5d77ad;
    }

    .menu-item:hover {
      color: #3B80FF;
    }
    .is-opened .el-menu-item {
      background-color: transparent;
    }

    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      /*background-color: $subMenuBg !important;*/
      /*padding-left:50px;*/
      text-align: center;
      font-size: 16px;

      &:hover {
        color: #3B80FF;
        background-color: transparent;
        /*background-color: $subMenuHover ;*/
      }
    }

    .is-opened .router-link-active {
      color: #3B80FF;
      background-color: transparent;
    }
  }

  .sidebar-container>.el-menu {

  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .is-opened>.el-submenu__title {
      line-height: 52px;
      margin-top: 0;
    }

    .icon {
      margin-right: 0px;
    }

    .svg-icon {
      margin-left: 20px;
      margin-right: 20px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 ;
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;
        .icon {
          padding-left: 20px;
          margin-right: 20px;
          color:$menuText;
        }
        .el-submenu__icon-arrow {
          display: none;
        }
      }
      &>.el-submenu__title:hover {
        .icon {
          color: #fff;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }

    .title1 {
      margin-left: 0;
    }
    .title1:hover {
      padding-left: 0;
      margin-left: 0;
    }

    .span1 {
      padding-left: 0;
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // 适配移动端, Mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  text-align: center;
  &>.el-menu {
    .icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      /*background-color: $menuHover !important;*/
      text-decoration: underline;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;
    padding-top: 10px;
    background: #e9eef4;
    border: 1px solid #5d77ad;
    border-radius: 4px;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
